
@using Microsoft.AspNetCore.Identity
@using TicketManagementSystem.Models.Tables
@inject SignInManager<TicketManagementUser> SignInManager
@inject UserManager<TicketManagementUser> UserManager


<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Suite - Roadmap</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="~/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,500i,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css">

    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="~/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/pages/css/custom/tm.css" />
</head>

<body class="fixed-header ">




    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">

        <!-- BEGIN SIDEBAR MENU HEADER-->
        <div class="sidebar-header">
            <img src="~/img/logo_white_2x.png" alt="logo" class="brand" data-src="~/img/logo_white_2x.png"
                 data-src-retina="~/img/logo_white_2x.png" width="78" height="22">
            <div class="sidebar-header-controls">
                <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu">
                    <i class="fa fa-angle-down fs-16"></i>
                </button>
                <button type="button"
                        class="btn btn-link d-lg-inline-block d-xlg-inline-block d-md-inline-block d-sm-none d-none"
                        data-toggle-pin="sidebar">
                    <i class="fa fs-12"></i>
                </button>
            </div>
        </div>
        <!-- END SIDEBAR MENU HEADER-->
        <!-- START SIDEBAR MENU -->
        <div class="sidebar-menu">
            <!-- BEGIN SIDEBAR MENU ITEMS-->
            <ul class="menu-items">
                <li class="m-t-30 ">
                    <a href="index.html" class="detailed">
                        <span class="title">Dashboard</span>
                        <span class="details">12 New Updates</span>
                    </a>
                    <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
                </li>
                <li class="">
                    <a href="email.html" class="detailed">
                        <span class="title">Email</span>
                        <span class="details">234 New Emails</span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-mail"></i></span>
                </li>
                <li class="">
                    <a href="social.html"><span class="title">Social</span></a>
                    <span class="icon-thumbnail"><i class="pg-social"></i></span>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="title">Calendar</span>
                        <span class=" arrow"></span>
                    </a>
                    <span class="icon-thumbnail"><i class="pg-calender"></i></span>
                    <ul class="sub-menu">
                        <li class="">
                            <a href="calendar.html">Basic</a>
                            <span class="icon-thumbnail">c</span>
                        </li>
                        <li class="">
                            <a href="calendar_lang.html">Languages</a>
                            <span class="icon-thumbnail">L</span>
                        </li>
                        <li class="">
                            <a href="calendar_month.html">Month</a>
                            <span class="icon-thumbnail">M</span>
                        </li>
                        <li class="">
                            <a href="calendar_lazy.html">Lazy load</a>
                            <span class="icon-thumbnail">La</span>
                        </li>
                        <li class="">
                            <a href="https://docs.pages.revox.io/apps/calendar" target="_blank">Documentation</a>
                            <span class="icon-thumbnail">D</span>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="http://changelog.pages.revox.io/" target="_blank"><span class="title">Changelog</span></a>
                    <span class="icon-thumbnail">Cl</span>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- END SIDEBAR MENU -->
    </nav>


    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
        <!-- START HEADER -->
        <div class="header hidden">
            <!-- START MOBILE SIDEBAR TOGGLE -->
            <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar">
            </a>
            <!-- END MOBILE SIDEBAR TOGGLE -->
            <div class="">
                <div class="brand inline   ">
                    <img src="~/img/logo_2x.png" alt="logo" data-src="~/img/logo_2x.png"
                         data-src-retina="assets/img/logo_2x.png" width="78" height="22">
                </div>
                <!-- START NOTIFICATION LIST -->
                <ul class="d-lg-inline-block d-none notification-list no-margin d-lg-inline-block b-grey b-l b-r no-style p-l-30 p-r-20">
                    <li class="p-r-10 inline">
                        <div class="dropdown">
                            <a href="javascript:;" id="notification-center" class="header-icon pg pg-world" data-toggle="dropdown">
                                <span class="bubble"></span>
                            </a>
                        </div>
                    </li>
                    <li class="p-r-10 inline">
                        <a href="#" class="header-icon pg pg-link"></a>
                    </li>
                    <li class="p-r-10 inline">
                        <a href="#" class="header-icon pg pg-thumbs"></a>
                    </li>
                </ul>
                <!-- END NOTIFICATIONS LIST -->
                <a href="#" class="search-link d-lg-inline-block d-none" data-toggle="search">
                    <i class="pg-search"></i>Type
                    anywhere to <span class="bold">search</span>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <!-- START User Info-->
                <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">
                    <span class="semi-bold">David</span>
                    <span class="text-master">Nest</span>
                </div>
                <div class="dropdown pull-right d-lg-block d-none">
                    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span class="thumbnail-wrapper d32 circular inline">
                            <img src="~/img/profiles/avatar.jpg" alt="" data-src="~/img/profiles/avatar.jpg"
                                 data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                        <a href="#" class="dropdown-item"><i class="pg-settings_small"></i> Settings</a>
                        <a href="#" class="dropdown-item"><i class="pg-outdent"></i> Feedback</a>
                        <a href="#" class="dropdown-item"><i class="pg-signals"></i> Help</a>
                        <a href="#" class="clearfix bg-master-lighter dropdown-item">
                            <span class="pull-left">Logout</span>
                            <span class="pull-right"><i class="pg-power"></i></span>
                        </a>
                    </div>
                </div>
                <!-- END User Info-->

                <a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block"
                   data-toggle="quickview" data-toggle-element="#quickview"></a>
            </div>
        </div>
        <!-- END HEADER -->
        <!-- START PAGE CONTENT WRAPPER -->

        <div class="page-content-wrapper ">
            <!-- START PAGE CONTENT -->

            <div class="content ">
                <div class="container-fluid sm-p-l-5 p-t-10">
                    <div class="ticket-manager style="position:absolute !important">
                        <div class="tm-head">
                            <h3>Ticket Management</h3>
                            <nav class="navigation">
                                <a class="link active" href="/" class="active"><i class="fas fa-home"></i> Anasayfa</a>
                                <a class="link" href=""><i class="far fa-clock"></i> Görev Listesi</a>
                                <a class="link" href="shelf-control-form.html"><i class="fas fa-check"></i> Bekleyen Biletler</a>
                                <a class="link" href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cogs"></i> Yönetim Paneli</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">Depo Yönetimi</a>
                                    <a href="#" class="dropdown-item">Kullanıcı Yönetimi</a>
                                </div>
                                <span>
                                    <a class="link" href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chart-bar"></i> Raporlar</a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item">Görev Dağılımı Ekranı</a>
                                        <a href="#" class="dropdown-item">Görev Çözülme Süreleri Analizi</a>
                                        <a href="#" class="dropdown-item">Raf Kontrol Formu Sonuçları</a>
                                        <a href="#" class="dropdown-item">En Çok Açılan Görevler</a>
                                    </div>
                                </span>

                                <!-- Change div positioning later -->
                                <div style="position: fixed; bottom: 830px; right: 130px;">


                                    @if (SignInManager.IsSignedIn(User))

                                    {


                                        <a class="nav-link text-dark" style="" asp-area="Identity" asp-page="/Account/Manage/Index"
                                           title="Manage">Hello @User.Identity.Name!</a>


                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                              asp-route-returnUrl="@Url.Page("/", new { area = "" })"
                                              method="post">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                        </form>

                                    }
                                    else
                                    {

                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>


                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>

                                    }
                                </div>

                            </nav>
                            <div class="filter">
                                <a href="#" class="dropdown-toggle link" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><i class="fas fa-sliders-h"></i></a>
                                <div class="dropdown-menu dropdown-menu-right filters">

                                    <span>İlgilenen</span>
                                    <input type="text" class="form-control">
                                    <span>Durum</span>
                                    <select class="form-control">
                                        <option>Açık</option>
                                        <option>Üzerinde Çalışılıyor</option>
                                        <option>Çözüldü</option>
                                    </select>
                                    <span>Başlangıç Tarihi</span>
                                    <input type="text" class="form-control">
                                    <span>Bitiş Tarihi</span>
                                    <input type="text" class="form-control">
                                    <div class="buttons">
                                        <a href="#">Temizle</a>
                                        <a href="#">Uygula</a>
                                    </div>

                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>

                        @RenderBody()

                       



                    </div>

                    

                </div>
                <!-- -->



                


                

                
            </div>

            <!-- END CONTAINER FLUID -->
        </div>


        <!-- END PAGE CONTENT -->

    </div>

    <!-- END PAGE CONTENT WRAPPER -->
    </div>



</body>

</html>

@RenderSection("scripts",false)
